* {
    font-family: "Lucida Console", "Courier New", monospace;
}


#header {
    text-align: center;
    background-color: #000000;
    border-radius:77px;
}

#header:hover {	
    text-align: center;
    background-color: #ff0000;
}

#foto1:hover {
    width: 30%;
      height: 30%;
    display: block;
    margin-left: 400px;
    margin-right: 100px;
    transition: 5s;
}
tr:nth-child(even) {background: #00ff2a}
tr:nth-child(odd) {background: #5900ff}


ul {
    float: right;
    background-color: #ffffff;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}
tr td:hover{
    backgroun: rgb(0, 0, 0)
}
li a {
    display: block;
    color: #00c8ff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #290a13;
    height: 22px;
    color: #9ed1e7;
}

table {
    border-collapse: collapse;
    width: 100%;
}

caption {
    caption-side: bottom;
}

th :hover {
    text-align: center;
    padding: 8px;
}

th {
    background-color: #000000;
    color: rgb(70, 0, 275);
}


.footer {
    background-color: #00b7ff;
    padding: 0.5em;
    text-align: right;
    border-radius: 50px 0 32.5px 0;
}